**Bank Note Authentication, using docker/flask**

Data were extracted from images that were taken from genuine and forged banknote-like specimens. For digitization, an industrial camera usually used for print inspection was used. The final images have 400x 400 pixels. Due to the object lens and distance to the investigated object gray-scale pictures with a resolution of about 660 dpi were gained. Wavelet Transform tool were used to extract features from images.

In [10]:
def predict_authentication():
    variance = request.args.get('variance')
    skewness = request.args.get('skewness')
    curtosis = request.args.get('curtosis')
    entropy = request.args.get('entropy')

    predict = model.predict([[variance,skewness,curtosis,entropy]])

    return "The Predicted Value is " + str(predict)

In [11]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pickle

In [12]:
df = pd.read_csv("../data/BankNote_Authentication.csv")
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [13]:
df.shape

(1372, 5)

In [14]:
df.isnull().sum()

variance    0
skewness    0
curtosis    0
entropy     0
class       0
dtype: int64

In [15]:
df['class'].value_counts()

0    762
1    610
Name: class, dtype: int64

In [16]:
#independent and dependent variables
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [17]:
X.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [18]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [20]:
#Classification problem statement, we take the Random Forest Classifier
model = RandomForestClassifier()
model.fit(X_train,y_train)

#predict
y_pred = model.predict(X_test)

In [21]:
#Check accuracy 
score = accuracy_score(y_test,y_pred)
score

0.9951456310679612

In [23]:
#serialize using pickle
pickle_out = open("../data/model.pkl","wb")
pickle.dump(model,pickle_out)
pickle_out.close()

In [24]:
#test predict
x = model.predict([[2,3,4,1]])
if x == 0:
    output = 'yes'
else:
    output = 'no'

output

C:\Users\user\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

'yes'